@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.welcome {
    display: grid;
    grid-template-areas: 
    "p t t"
    "p l l";
    grid-column-gap: 25px;
    background-image: url('../Images/welcomebg.jpg');
    position: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.login {
    grid-area: l;
    display: flex;
    height: fit-content;
    justify-content: center;
}

.tlogin {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.btn-login {
    font-size: larger;
    width: 100%;
    height: 100%;
    border: none;
    margin: 6px 4px;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    border-radius: 16px;
    background-color: black;
    color: white;
    opacity: 1;
    transition: transform 0.2s ease-in;
}

.btn-login:hover {
    transform: scale(1.1);
}

.slogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person1 {
    max-height: 40vh;
    width: 100%;
}

.person2 {
    max-height: 40vh;
    width: 100%;
}

.person3 {
    grid-area: p;
}

.person3>img {
    max-width: 300px;
    height: 100%;
    max-height: 40vh;
}

.websitename {
    margin: 10px;
    position: absolute;
    z-index: 5;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.websitename>img {
    width: 30vh;
    max-height: 100px;
    max-width: 30vw;
    border-radius: 5%;
}

.websitename>p {
    position: relative;
    font-size: small;
    font-weight: 600;
}

.welcometext {
    grid-area: t;
    font-family: 'Ubuntu', sans-serif;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align:center;
    margin-top: 5%;
    color: green;
}
.t2{
    font-size: large;
    max-width: 50%;
    height: max-content;
    color: rgb(242, 0, 255);
}

/* taskitem */
.taskitem-card:hover {
    background-color: rgb(237, 235, 235);
    transform: translateY(-2px);
}

/* group card */
.grp-card {
    position: absolute;
    color: white;
    font-weight: bolder;
    left: 5%;
}

.grp-card-title {
    bottom: 35%;
    font-size: 6vh;
}

.grp-card-name {
    bottom: 18%;
    font-size: 3vh;
}

/* group item */
.grp-item-img {
    position: relative;
    background-image: url(../Images/grp-name.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

.code-square {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 80%;
    width: 100px;
    height: 50px;
    background-color: white;
}

.code {
    position: relative;
    margin-top: 10%;
    font-weight: bold;
    justify-content: center;
    color: black;
}


.view-task-link:hover {
    background-color: rgb(255, 0, 183);
    color: white;
}

.delete-grp-link:hover {
    background-color: red;
    color: white;
}

/* add button */
.add-btn {
    border-radius: 50%;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* tooltips */


/* .toolbox:hover {
    background-color: #8f9ded;
} */

.tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 140px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 10px;
    color: black;

    text-align: center;
    padding: 5px;
    border-radius: 6px;

    background-color: white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolbox:hover .tooltiptext {
    visibility: visible;
}

/* Work form */
.completeform {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    background-color: white;
    opacity: .3;
}

.workform {
    background-color: white;
    position: absolute;
    z-index: 3;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 320px;
    height: 40%;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 2%;
}

.closeform {
    position: relative;
    width: fit-content;
    margin-left: auto;

}

.workform-form {
    position: relative;
    width: max-content;
    top: 40%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

/* nothing page */
.one {
    width: 100%;
    max-width: 95vw;
}

.one>img {
    max-width: 90vw;
    height: 100%;
    max-height: 50vh;
    width: auto;
}

.nothing>.add-new {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
}